<main>
  <section id="scrolly">
    <figure>
      <p></p>
    </figure>

    <article>
      <div class="intro">
        <h3 class="start-text">start scrolling</h3>
      </div>

      <div id="step-zero" class="step"></div>

      <div id="step-one" class="step" data-template="title"></div>
      <div id="step-two" class="step" data-template="empty">
        <div class="beginning">
          <h1 class="step-title">The Space Race of the 60s</h1>
          <p class="step-description">
            was a fierce competition between the US and USSR to see who could conquer space first, leading to a
            flurry of rocket launches and major breakthroughs in research as each country raced to outdo the other.
          </p>
        </div>
      </div>
      <div class="step">
        <p>STEP 4</p>
      </div>

      <div class="outro">
        <h1 class="title">Thanks for reading ✌</h1>
        <p class="subtitle">lmk what u think.</p>
      </div>
    </article>
  </section>
</main>

<div class="sticky-templates">
  <div id="title">
    <div class="title-template">
      <h1 id="first-line" class="title fade-in-out">The Impact of <i><u>SpaceX</u></i></h1>
      <h2 class="tiny-title fade-in-out">on</h2>
      <h1 id="second-line" class="title fade-in-out">Modern Space Exploration</h1>
    </div>
  </div>

  <div id="empty"></div>
</div>