main {
  background: #101328;
  background: linear-gradient(180deg, #101328 0%, #240f21 50%, #2b1b0e 100%);
  color: #cfc9a6;
  text-align: center;
}

#scrolly {
  position: relative;
  max-width: 1500px;
}

article {
  position: relative;
  padding: 0;
  width: 100vw;
  margin: 0;
}

figure {
  position: fixed;
  left: 0;
  width: 100%;
  margin: 0;
}





.start-text {
  padding-top: 50px;
  margin: 0;
}

.title {
  font-size: 5vw;
}

.tiny-title {
  font-size: 2.5vw;
}

.subtitle {
  font-size: 2vw;
}

.step {
  margin: 0 auto 5vh;
  min-height: 1vh;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .step-title {
    font-size: 2.5rem;
    padding: 25px 16px 0;
    margin: 0;
  }

  .step-description {
    margin-top: 0;
  }
}



.sticky-templates {
  display: none;
}

.title-template {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin: 0;
  }

  h3 {
    margin-top: 10vw;
  }
}

.first-launch-title-template {
  h1 {
    font-size: 5.6vw;
    margin: 0;

    &:last-of-type {
      font-size: 7.4vw;
      transform: translateX(-0.5vw);
    }
  }

  p {
    width: 53.5vw;
    margin: 4vh auto 0;
    font-size: 1.8vw;
    text-align: justify;
  }

}


// -------------- STEPS --------------

#intro-0 {
  height: 45vh;
}

#intro-1 {
  height: 100vh;
}

[id*="chapter-1"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 35vw;
  max-width: 600px;
  margin-right: 60vw;
  text-align: right;
}

#chapter-one-outro,
#chapter-two-outro {
  padding: 25vh 0 50vh;
}

[id*="chapter-2"],
[id*="chapter-3"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 35vw;
  max-width: 600px;
  margin-left: 60vw;
  text-align: left;
}

#chapter-3-0 {
  height: 100vh;
  width: 50vw;
  margin-bottom: 15vh;
}

#outro {
  padding-top: 25vh;
  padding-bottom: 15vh;
  ;

  a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5vw;
  }
}